*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://i.pinimg.com/originals/b7/b9/4b/b7b94b012cc76e0738d81c648e6473b5.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#LoginForm {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}


.links {
    margin-top: 10px;
}

.links a p{
    
    margin: 5px 0;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}

i{
    color: orangered;
}

@media screen and (max-width:424px){
    #LoginForm{    
        padding: 10px;  
       }
       h2 {
          font-size: 1.2rem;   
       }
       label {
           font-size: 12px;
       }
       button {
           
           font-size: 12px;
           padding: 10px;
       }
   }
   @media screen and (min-width:425px) and (max-width:767px){ 
       #LoginForm {
           width: 80%;
           padding: 15px; 
       }
       h2 {
           font-size: i.5rem;   
       }
       label {
          
           font-size: 14px;
       }
   }
   @media screen and (min-width:768px) and (max-width:1024px){
      
       #LoginForm{
           width: 90%;
           padding: 15px;   
          
       }
       h2 {
           font-size: 1.5rem;
           
       } 
       label {
   
           font-size: 14px;
       }
       button {
           
           font-size: 14px;
       }
   }
   